@charset "UTF-8";
/*레이블링
id 이름: 컨텐츠
class 이름: mainReviewR => main(아이디 안)Review(작업 내용을)R(이니셜-누가했는지)
E : 박에스더
H : 문현숙
J : 민정은
S : 박소희
R : 석류화*/
/*공통 스타일*/
body * {
  font-family: "IBM Plex Sans KR", sans-serif !important;
  color: #333333;
  letter-spacing: -1px;
}

.container-1400 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container-1824 {
  max-width: 1824px;
  width: 100%;
  margin: 0 auto;
}