/*공통 스타일*/
$mainColor : #FFEBB7;
$subColorBlue : #B5E1F9;
$subColorPurple : #D1CFFF;
$subColorPink : #F9D6D6;
$subColorGreen : #85BD91;
$subColorSoftBlue : #CDE6F9;
$pointColorPink : #FF7682;
$pointColorOrange : #FF9268;
$pointColorPurple : #A374C8;
$pointColorGreen : #8AE89F;
$pointColorBlue : #77C5FF;
$fontColorBlack : #333333;
$fontColorGray : #989797;
$fontColorSoftGray : #F2F2F2;
$fontColorDarkBeige : #B2A569;

// @mixin catecoryFood {
//     background-color: $pointColorPink;
// }
// @mixin catecoryCafe {
//     background-color: $pointColorOrange;
// }
// @mixin catecoryActivify {
//     background-color: $pointColorPurple;
// }
// @mixin catecoryLandmark {
//     background-color: $pointColorGreen;
// }
// @mixin catecoryFestival {
//     background-color: $pointColorBlue;
// }

@mixin badge {
    font-size: 14px;
    background-color: #000;
    color: #fff;    
    border-radius: 20px;
}

@keyframes arrowAnimationBefore {
    from {
        margin-right: 30px;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}
@keyframes arrowAnimationAfter {
    from {
        margin-right: 0;
        opacity: 1;
    }
    to {
        margin-right: -30px;
        opacity: 0;
    }
}

#hd {
    display: none;
    background-color: $mainColor;
    h1, .iconMenu {
        width: 0;
    }
    h1 a, .iconMenu i {
        white-space: nowrap;
    }
    .gnb {
        &:hover {
            &::before {
                height: calc(170px - 18px);
            }
            .gnbSubMenu {
                height: 170px;
            }

        }
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            background-color: $mainColor;
            left: 0;
            right: 0;            
            height: 0;
            transition: height 0.6s;
        }
        > li {            
            padding: 28px 30px;
            text-align: center;
            > a {
                font-weight: 600;
            }
            .gnbSubMenu {
                top: calc(100% - 18px);
                min-width: 80px;
                white-space: nowrap;
                left: 0;
                right: 0;
                height: 0;
                transition: height 0.6s;
                overflow: hidden;
                li {
                    line-height: 2;
                    a:hover {
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .iconMenu {
        li {
            margin-left: 26px;
            svg {
                width: 19px;
            }
        }
    }
}

#map {
    position: relative;
    background: url(/img/mapBg6.png) repeat-x center bottom;
    padding: 70px 0;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-repeat: no-repeat;
    }
    &::before {
        background-image: url(/img/mapBg4.png);
        right: 0;
        top: 0;
        width: 12vw;
        height: 14vw;
        background-size: contain;
    }
    &::after {        
        background-image: url(/img/mapBg5.png);
        left: 0;
        bottom: 0;
        width: 14vw;
        height: 67%;
        background-position: left bottom;
        background-size: cover;
    }
    .link {
        color: $fontColorDarkBeige;
    }
    button {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .mapLeft {
        max-width: 350px;
        margin-left: 70px;
        .mapTitle{
            position: relative;
            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                width: 12vw;
                height: 14vw;
                top: 0;
            }
            &::before {
                background-image: url(/img/mapBg3.png);
                left: -12vw;
            }
            &::after {
                background-image: url(/img/mapBg2.png);
                right: -12vw;
            }
            text-align: center;
            font-size: 32px;
            line-height: 48px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        .mapCatecory {
            text-align: center;
            margin-bottom: 80px;
            span {
                display: block;
                font-size: 14px;
                font-weight: 700;
                margin-top: 10px;
            }
        }
        .mapInfo {            
            max-width: 340px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
            .mapInfoWrap {
                padding: 20px;
                img {
                    border-radius: 10px;
                }
                p {
                    &::after {
                        content: "";
                        background: url(/img/EventArrow.svg) no-repeat;
                        width: 44px;
                        height: 100%;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    position: relative;
                    font-size: 24px;
                    font-weight: 800;
                    margin: 12px 0 16px;
                }
                .mapInfoText {
                    font-size: 14px;
                    min-height: 130px;
                    li {
                        display: flex;
                        margin: 4px 0;
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }            
            .mapInfoLocation {
                padding: 10px 20px;
                border-top: 1px solid #E1E1E1;
                li {
                    margin-left: 10px;
                    &:first-child {
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .mapRight {
        position: relative;
        margin: 120px 0 0 224px;
        .mapText {
            position: absolute;
            top: 50px;
            right: -80px;
            button {
                margin: 0 0 10px 4px;
                &:first-child {
                    margin-left: 0;
                }
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #000;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                }
            }
            p {
                font-size: 19px;
            }
        }
        .mapView {}
    }
}

#event {
    .titlAreaS {
        width: 426px;
        padding: 60px 0 60px 48px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: -4rem;
            bottom: 0;
            background-color: $mainColor;
        }
        @media (max-width: 1400px) {
            width: 24%;
            padding: 2rem 0 2rem 1.5rem;
        }
        @media (max-width: 1200px) {
            width: 100%;
            padding: 2rem;
            &::before {
                right: 0;
            }
        }
        h3 {
            font-size: 30px;
            font-weight: 900;
        }
        span {
            font-size: 22px;
        }
        a {
            @include badge;
            display: inline-block;
            padding: 8px 16px;
            border-radius: 20px;
            margin-top: 20px;
        }
    }    
    .eventListS {
        padding: 60px 0;
        @media (max-width: 768px) {
            padding: 20px 0;
        }
        li {
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
            border-radius: 20px;
            &:first-child {
                margin-left: 0;
            }
            .imgAreaS {
                position: relative;
                width: 100%;
                height: 224px;
                border-radius: 20px 20px 0 0;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;                    
                }
                @media (max-width: 1200px) {
                    border-radius: 20px;
                }
                @media (max-width: 768px) {
                    height: auto;
                }
            }
            .textAreaS {
                position: relative;
                height: 228px;
                padding: 26px;                
                &:hover i::before {
                    animation: arrowAnimationBefore 0.3s forwards 0.3s;
                }
                &:hover i::after {
                    animation: arrowAnimationAfter 0.3s forwards;
                }
                strong {
                    font-size: 20px;
                }
                .des4S {
                    font-size: 14px;
                    min-height: 4rem;
                }
                i {
                    position: absolute;
                    right: 26px;
                    bottom: 24px;
                    width: 40px;
                    height: 28px;
                    overflow: hidden;
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-right: 40px;
                        transform: translateY(-50%);
                        background: url(/img/EventArrow.svg) no-repeat;
                        background-size: cover;
                        transition: opacity 0.2s, margin 0.2s;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url(/img/EventArrowGray.svg) no-repeat;
                        background-size: cover;
                        transition: opacity 0.2s, margin 0.2s;
                    }
                }                
            }
        }
    }
}

#sns {
    .snsTitleWrapS {
        .snsTitleLeftS {
            h2 {
                font-size: 30px;
                font-weight: 700;
            }
            p {
                font-size: 14px;
            }
            > p {
                font-size: 20px;
                span {
                    color: $fontColorDarkBeige;
                }
            }
        }
        .snsTitleRightS {
            font-size: 14px;
            strong {                
                @include badge;
                width: 98px;
                padding: 6px 0;
                text-align: center;
                font-weight: 400;
            }
        }
    }
    .snsImgS {
        position: relative;
        width: 100%;
        max-height: 240px;
        height: 100%;
        transition: 0.5s;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
            transform: scale(1.3);
            z-index: 100;
        }
        &::after {
            content: "";
            background: url(/img/instagram2.svg) no-repeat;
            width: 13px;
            height: 13px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#quick {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    li {
        position: relative;
        margin: 6px 0;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 46px;
            height: 46px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #000;
                border-radius: 50%;
            }
            svg {
                position: relative;
                width: 24px;
                height: auto;
                path {
                    color: #fff;
                }
            }
        }
        span {
            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 12px solid #000;
                position: absolute;
                top: 50%;
                right: -6px;
                transform: translateY(-50%);
            }
            font-size: 13px;
            color: #fff;
            background-color: #000;
            border-radius: 50px;
            font-weight: 700;
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
            text-wrap: nowrap;
            padding: 4px 12px;
            margin-right: 6px;
        }
    }
}

#ft {
    background-color: $mainColor;
    padding: 22px 0;
    .ftTop {
        h1 {
            a {                
                line-height: 0;            
                img {
                    width: 112px;
                }
            }
        }
        ul {
            li {
                position: relative;
                margin: 0 12px;                
                &.language {
                    padding-left: 26px;
                    .languageSelect {
                        position: relative;
                        background-color: #000;
                        border-radius: 10px;
                        padding: 0 24px 0 8px;
                        &::before {
                            content: "";
                            position: absolute;
                            left: -26px;
                            display: block;
                            width: 0.5px;
                            height: 15px;
                            background-color: #000;                        
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            right: 8px;
                            background: url(/img/ftCheck1.svg) no-repeat;
                            width: 8px;
                            height: 5px;
                        }
                        .icon {
                            position: relative;
                            top: -1px;
                        }
                        span {
                            font-size: 13px;
                            color: #fff;
                            margin-left: 4px;
                        }
                    }
                    .languageOption {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        width: 80px;
                        background-color: #fff;
                        border: 1px solid #999;
                        border-radius: 10px;
                        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
                        margin-top: 6px;
                        padding: 6px;
                        li {
                            font-size: 14px;
                            margin: 4px 0;
                            &:hover {                                
                                color: #379CEE;
                            }
                            &.check {
                                position: relative;
                                color: #379CEE;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    display: block;
                                    background: url(/img/ftCheck2.svg);
                                    width: 13px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }                
            }
        }
    }
    .ftBottom {
        margin-top: 12px;
        ul {
            li {
                margin-left: 28px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    font-weight: 600;
                }
            }  
        }
        p {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}